.text-primary {
  color: $primary !important;
}
.text-secondary {
  color: $secondary;
}

.tooltip {
  transition: all 0.5s ease !important;
  color: $primary !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-primary {
  background-color: $primary;
  color: white !important;
  &:hover {
    opacity: 0.8;
  }
}

.Button {
  display: inline-block;
  text-decoration: none;
//   text-transform: uppercase;
  letter-spacing: 2px;
  outline: 2px solid;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  transition: color 0.2s ease;
  
  &:hover {
    color: #fff;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 150%;
    height: 100%;
    background-color: #50C2C9;
    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    z-index: -1;
    transition: transform 1s;
  }
  &:hover::before {
    transform: scaleX(1) skewX(35deg);
  }
}

// main{
//     margin-top: 84px;

// }


.form{
  max-width: max-content;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__nextPage{
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: #50C2C9;
    color: white;
    padding: 10px;
    border-radius: 8px;
    z-index: 99;
  }
  &__nav{
      display: flex;
      align-items: center;
      border: 4px solid #50C2C9;
      border-radius: 10px;
      margin-bottom: 20px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

      &--active{
          background-color: #50C2C9;
          color: white;
          
      }
      &__item{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 40px;
         
          border-radius: 8px;
        
          margin: 10px;
          cursor: pointer;
      }
    

  }
  .group{
      margin: 5px 0;
      input{
          display: block;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          width: 361px;
          height: 50px;
          border-radius: 10px;
          padding: 0px 20px;
          outline: none;
          &:focus{
              border: #50C2C9;
          }
      }
      
  }
  .ForgetPassword{
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #50C2C9;

  }
  .button{
      display: block;
      width: 100%;
      height: 50px;
      background-color: #50C2C9;
      border-radius: 80px;
      font-size: large;
      font-weight: 600;
      color: white;
      border: 2px solid #ffffff;
      &:hover{
          border: 2px solid #50C2C9;
          background-color: #ffffff;
          color: #50C2C9;
      }
      &--custom {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
      
          border: 2px solid #50C2C9;
          background-color: #ffffff;
          color: #50C2C9;
          margin: 2px 0;
          &:hover{
              background-color: #50C2C9; 
              color: white;
          }
          img{
              display: block;
              width: 25px;
              object-fit: cover;
              margin: 0 5px;
          }
      }
  }
}