.Home {
  padding: 10px 20px;
  .shape {
    background: #50c2c9;
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 400px;
    transition: all 1s ease-in-out;
    width: 400px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large;
    font-family: cursive;
    width: 400px;
    height: 400px;
    cursor: default;
    margin: 5px 10px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 90vh;
  }
  &__border {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    width: 50%;
    h1 {
      font-size: 40px;
      font-weight: bold;
      padding: 10px 20px;
      letter-spacing: 2px;
    }
    p {
      padding: 5px 20px;
    }
  }
  &__contact {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    padding: 0px 20px;
    &__item i {
      padding: 10px 10px;
      border-radius: 100vh;
      font-size: large;
      &:hover {
        background-color: #50c2c9;
        color: white;
      }
    }
  }
  &--button {
    margin: 10px 20px;
  }

  & .infomation {
    margin-top: 80px;
    padding: 0;
    min-height: 60vh;
    // background-position: center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

    &__warpper{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__content {
      padding: 40px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      border-radius: 8px;
      margin: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      opacity: 1;
      &__title{
        text-transform: uppercase;
        font-weight: 600;
        color: #50c2c9;
      }

      ul {
        list-style: disc !important;
      }
      li{
        padding-left: 20px;
      }
    }
    
  }
  .readme{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    margin: 10px 0px;
    padding: 40px 0px;
    p{
      padding: 20px 0px;
    }
    &__title{
      text-transform: uppercase;
    font-weight: 600;
    color: #50c2c9;
    padding: 10px;
    
    }

  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, var(#50c2c9) 0%, var(#9aeaef) 100%);
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(#50c2c9) 0%, var(#9aeaef) 100%);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, var(#50c2c9) 0%, var(#9aeaef) 100%);
  }
}
